/*------------------------------------------------------*/
/* FULL WIDTH ANIMATED LAYERS 002
/*------------------------------------------------------*/
#fw_al_002 {
  overflow: hidden;
  max-height: 658px;
  position: relative;
}
#fw_al_002 .lg{
  padding: 0;
  color: #fff;
  font-size: 48px;
  font-weight: 900;
  line-height: 42px;
  display: inline-block;
  text-transform: capitalize;
  font-family: 'Roboto', sans-serif;
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
  -webkit-animation-duration: 10s;
  animation-duration: 10s;
  -webkit-animation-timing-function: cubic-bezier(0.230, 1.000, 0.320, 1.000);
  animation-timing-function: cubic-bezier(0.230, 1.000, 0.320, 1.000);
}

.slider_content .lg{
  padding: 0;
  color: #5969dc !important;
  font-size: 48px;
  font-weight: 900;
  line-height: 42px;
  display: inline-block;
  text-transform: capitalize;
  font-family: 'Roboto', sans-serif;
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
  -webkit-animation-duration: 10s;
  animation-duration: 10s;
  -webkit-animation-timing-function: cubic-bezier(0.230, 1.000, 0.320, 1.000);
  animation-timing-function: cubic-bezier(0.230, 1.000, 0.320, 1.000);
}

#fw_al_002:hover {
  cursor: -moz-grab;
  cursor: -webkit-grab;
}
#fw_al_002:active {
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}
#fw_al_002 > .carousel-inner > .carousel-item > img,
#fw_al_002 > .carousel-inner > .carousel-item > a > img {
  margin: auto;
  width: 100% !important;
}
/*---------- SLIDE CAPTION ----------*/

.slider_content {
  left: 10%;
  top: 36%;
  right: auto;
  width: 45%;
  margin: auto;
  position: absolute;
  text-align: left;
}

.slider_content_center{
  top: 35%;
  right: auto;
  margin: auto;
  position: absolute;
  text-align: center;
  width: 100%;
}

.slider_content_center > h1 {
  padding: 0;
  color: #5969dc;
  font-size: 33px;
  font-weight: 300;
  line-height: 42px;
  margin-top: 20px;
  margin-bottom: 25px;
  text-transform: capitalize;
  font-family: 'Roboto', sans-serif;
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
  -webkit-animation-duration: 10s;
  animation-duration: 10s;
  -webkit-animation-timing-function: cubic-bezier(0.230, 1.000, 0.320, 1.000);
  animation-timing-function: cubic-bezier(0.230, 1.000, 0.320, 1.000);
}
.slider_content_center > h1 > span {
  padding: 0;
  color: white;
  display: inline-block;
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
  margin-right: 10px;
  -webkit-animation-duration: 7s;
  animation-duration: 7s;
  -webkit-animation-timing-function: cubic-bezier(0.230, 1.000, 0.320, 1.000);
  animation-timing-function: cubic-bezier(0.230, 1.000, 0.320, 1.000);
}
.slider_content_center > p {
  padding: 0;
  color: white;
  font-size: 18px;
  line-height: 30px;
  font-weight: normal;
  margin-bottom: 25px;
  font-family: 'Open Sans', sans-serif;
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
  -webkit-animation-duration: 10s;
  animation-duration: 10s;
  -webkit-animation-timing-function: cubic-bezier(0.230, 1.000, 0.320, 1.000);
  animation-timing-function: cubic-bezier(0.230, 1.000, 0.320, 1.000);
}

.slider_content_center > .btn-default{
	color: #5969dc;
	background: #fff;
	border-radius: 30px 30px 30px 30px;
}

.slider_content_center > .btn-default:hover{
	color: #fff;
	background: #5969dc;
}

.slider_content_center > .btn-primary{
	color: #fff;
	background: #5969dc;
	border-radius: 30px 30px 30px 30px;
}

.slider_content_center > .btn-primary:hover{
	color: #fff;
	background: #5969dc;
}

.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle{
	background: #5969dc !important;
	border-color: #5969dc !important;
}

.slider_content.slider_content_right {
  left: auto;
  right: 0%;
}
.slider_content > h1 {
  padding: 0;
  color: #5969dc;
  font-size: 33px;
  font-weight: 300;
  line-height: 42px;
  margin-top: 20px;
  margin-bottom: 25px;
  display: inline-block;
  text-transform: capitalize;
  font-family: 'Roboto', sans-serif;
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
  -webkit-animation-duration: 10s;
  animation-duration: 10s;
  -webkit-animation-timing-function: cubic-bezier(0.230, 1.000, 0.320, 1.000);
  animation-timing-function: cubic-bezier(0.230, 1.000, 0.320, 1.000);
}
.slider_content > h1 > span {
  padding: 0;
  color: white;
  margin-right: 10px;
  display: inline-block;
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
  -webkit-animation-duration: 7s;
  animation-duration: 7s;
  -webkit-animation-timing-function: cubic-bezier(0.230, 1.000, 0.320, 1.000);
  animation-timing-function: cubic-bezier(0.230, 1.000, 0.320, 1.000);
}
.slider_content > p {
  padding: 0;
  color: white;
  font-size: 17px;
  line-height: 23px;
  font-weight: normal;
  margin-bottom: 25px;
  font-family: 'Open Sans', sans-serif;
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
  -webkit-animation-duration: 10s;
  animation-duration: 10s;
  -webkit-animation-timing-function: cubic-bezier(0.230, 1.000, 0.320, 1.000);
  animation-timing-function: cubic-bezier(0.230, 1.000, 0.320, 1.000);
}
.slider_content > a,
.slider_content > a:visited {
  padding: 4px 30px;
  color: #ffffff;
  cursor: pointer;
  font-size: 14px;
  line-height: 36px;
  text-align: center;
  letter-spacing: 1px;
  white-space: nowrap;
  background: #5969dc;
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
  -webkit-animation-duration: 10s;
  animation-duration: 10s;
  -webkit-animation-timing-function: cubic-bezier(0.230, 1.000, 0.320, 1.000);
  animation-timing-function: cubic-bezier(0.230, 1.000, 0.320, 1.000);
  -webkit-transition: background cubic-bezier(0.230, 1.000, 0.320, 1.000);
  transition: background cubic-bezier(0.230, 1.000, 0.320, 1.000);
}
.slider_content > a:hover,
.slider_content > a:active {
  color: #5969dc;
  background: #ffffff;
}
/*------------------------------------------------------*/
/* RESPONSIVE
/*------------------------------------------------------*/

/*---------- MEDIA 480px ----------*/
@media only screen and (max-width: 480px) {
  /*---------- SLIDE CAPTION ----------*/
  .slider_content,
  .slider_content.slider_content_right {
    top: 25%;
	left: 0;
	right: 0;
	width: 100%;
	padding: 10px;
	text-align: center;
  }
  .slider_content > h1 {
    font-size: 24px;
    margin-bottom: 5px;
  }
  .slider_content > p {
	display: none;
  }
  
  #fw_al_002 .lg{
	  font-size: 24px !important;
  }
  
  .slider_content > a, .slider_content > a:visited{
	  display: none;
  }
}

/*---------- MEDIA 481px - 600px ----------*/
@media (min-width: 481px) and (max-width: 600px) {
  /*---------- SLIDE CAPTION ----------*/
  .slider_content {
    top: 38%;
	width: 93%;
	padding: 5px;
  }
  
  .slider_content > h1 {
    font-size: 24px;
  }
  
  #fw_al_002 .lg{
	  font-size: 24px !important;
  }
  
  .slider_content > a, .slider_content > a:visited{
	  display: none;
  }
  
  .slider_content > p{
	  display: none;
  }
}

/*---------- MEDIA 601px - 767px ----------*/
@media (min-width: 601px) and (max-width: 767px) {
  /*---------- SLIDE CAPTION ----------*/
  .slider_content {
	width: 80%;
	top: 30%;
  }
  
  @media (min-width: 631px) and (max-width: 767px) {
  /*---------- SLIDE CAPTION ----------*/
  .slider_content {
	width: 75%;
	top: 30%;
  }
  
  .slider_content > p{
	  display: none;
  }
  
  .slider_content > a, .slider_content > a:visited{
	  top: -10px;
  }
 
  .slider_content.slider_content_right {
    right: -20%;
  }
}

/*---------- MEDIA 768px - 889px ----------*/
@media (min-width: 768px) and (max-width: 889px) {
  /*---------- SLIDE CAPTION ----------*/
  .slider_content {
	width: 90%;
  }
  .slider_content.slider_content_right {
    right: -50%;
  }
  
  .slider_content > h1 {
  width: 100%;
  }
}
/*---------- MEDIA 890px - 950px ----------*/
@media (min-width: 890px) and (max-width: 950px) {
  /*---------- SLIDE CAPTION ----------*/
  .slider_content.slider_content_right {
    right: 5%;
  }
  
  #fw_al_002 .lg{
	  font-size: 40px;
  }
@media (min-width: 1305px){
  .slider_content {
    width: 37%;
  }
}

}


/*------------------------------------------------------*/
/* SLIDING TIMING FUNCTIONS
/*------------------------------------------------------*/

/*---------- ps_ease ----------*/
.ps_ease .carousel-item{
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
}

/*---------- ps_easeInOut ----------*/
.ps_easeInOut .carousel-item{
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
}

/*---------- ps_speedy ----------*/
.ps_speedy .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(0,1,0,1);
  transition-timing-function: cubic-bezier(0,1,0,1);
}

/*---------- ps_slowSpeedy ----------*/
.ps_slowSpeedy .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(0.3,1,0,1);
  transition-timing-function: cubic-bezier(0.3,1,0,1);
}

/*---------- ps_easeOutInCubic ----------*/
.ps_easeOutInCubic .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(0.22,0.81,0.01,0.99);
  transition-timing-function: cubic-bezier(0.22,0.81,0.01,0.99);
}

/*---------- ps_swing ----------*/
.ps_swing .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.02,.01,.47,1);
  transition-timing-function: cubic-bezier(.02,.01,.47,1);
}

/*---------- ps_easeOutCubic ----------*/
.ps_easeOutCubic .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.215,.61,.355,1);
  transition-timing-function: cubic-bezier(.215,.61,.355,1);
}

/*---------- ps_easeInOutCubic ----------*/
.ps_easeInOutCubic .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.645,.045,.355,1);
  transition-timing-function: cubic-bezier(.645,.045,.355,1);
}

/*---------- ps_easeOutCirc ----------*/
.ps_easeOutCirc .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.075,.82,.165,1);
  transition-timing-function: cubic-bezier(.075,.82,.165,1);
}

/*---------- ps_easeOutExpo ----------*/
.ps_easeOutExpo .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.19,1,.22,1);
  transition-timing-function: cubic-bezier(.19,1,.22,1);
}

/*---------- ps_easeInQuad ----------*/
.ps_easeInQuad .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.55,.085,.68,.53);
  transition-timing-function: cubic-bezier(.55,.085,.68,.53);
}

/*---------- ps_easeOutQuad ----------*/
.ps_easeOutQuad .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.25,.46,.45,.94);
  transition-timing-function: cubic-bezier(.25,.46,.45,.94);
}

/*---------- ps_easeInOutQuad ----------*/
.ps_easeInOutQuad .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.455,.03,.515,.955);
  transition-timing-function: cubic-bezier(.455,.03,.515,.955);
}

/*---------- ps_easeOutQuart ----------*/
.ps_easeOutQuart .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.165,.84,.44,1);
  transition-timing-function: cubic-bezier(.165,.84,.44,1);
}

/*---------- ps_easeInOutQuart ----------*/
.ps_easeInOutQuart .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.77,0,.175,1);
  transition-timing-function: cubic-bezier(.77,0,.175,1);
}

/*---------- ps_easeOutQuint ----------*/
.ps_easeOutQuint .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.23,1,.32,1);
  transition-timing-function: cubic-bezier(.23,1,.32,1);
}

/*---------- ps_easeInSine ----------*/
.ps_easeInSine .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.47,0,.745,.715);
  transition-timing-function: cubic-bezier(.47,0,.745,.715);
}

/*---------- ps_easeOutSine ----------*/
.ps_easeOutSine .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.39,.575,.565,1);
  transition-timing-function: cubic-bezier(.39,.575,.565,1);
}

/*---------- ps_easeInOutSine ----------*/
.ps_easeInOutSine .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.445,.05,.55,.95);
  transition-timing-function: cubic-bezier(.445,.05,.55,.95);
}