/*------------------------------------------------------*/
/* POST 083
/*------------------------------------------------------*/
.post_083{
  overflow: hidden;
  position: relative;
}
.post_083 > .carousel-inner:hover{
  cursor: -moz-grab;
  cursor: -webkit-grab;
}
.post_083 > .carousel-inner:active{
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}
.post_083 > .carousel-inner > .carousel-item{
  overflow: hidden;
}
.post_083 > .carousel-inner > .carousel-item > .row{
  margin: 0;
}
/*---------- INDICATORS CONTROL ----------*/
.post_083_indicators > .carousel-indicators{
  left: 0;
  right: 0;
  top: 190px;
  width: 50%;
  bottom: auto;
  height: 15px;
  font-size: 0;
  margin: auto;
  display: block;
  overflow-x: auto;
  text-align: center;
  overflow-y: hidden;
  padding-left: 5px;
  padding-right: 5px;
  white-space: nowrap;
}
.post_083_indicators > .carousel-indicators li{
  padding: 0;
  width: 15px;
  height: 15px;
  border: none;
  margin: 0 5px;
  text-indent: 0;
  font-size: 11px;
  font-weight: 500;
  overflow: hidden;
  text-align: center;
  letter-spacing: 1px;
  background: #f2f2f2;
  display: inline-block;
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;
  -webkit-border-radius: 0;
  border-radius: 0;
  -webkit-transition: all 0.6s cubic-bezier(0.3,1,0,1);
  transition: all 0.6s cubic-bezier(0.3,1,0,1);
}
.post_083_indicators > .carousel-indicators .active{
  width: 15px;
  height: 15px;
  border: none;
  margin: 0 5px;
  text-indent: 0;
  font-weight: 700;
  background: #5969dc;
}
.post_083_indicators > .carousel-indicators::-webkit-scrollbar{
  height: 4px;
}
.post_083_indicators > .carousel-indicators::-webkit-scrollbar-thumb{
  background: #eeeeee;
  -webkit-border-radius: 0;
  border-radius: 0;
}
/*---------- LEFT/RIGHT CONTROL ----------*/
.post_083_control_button .carousel-control-prev,
.post_083_control_button .carousel-control-next{
  top: 175px;
  opacity: 1;
  width: 50px;
  bottom: auto;
  height: 30px;
  color: #eeeeee;
  font-size: 12px;
  cursor: pointer;
  font-weight: 400;
  overflow: hidden;
  line-height: 30px;
  text-shadow: none;
  position: absolute;
  letter-spacing: 1px;
  background: transparent;
  text-transform: uppercase;
  -webkit-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transition: all 0.6s cubic-bezier(0.3,1,0,1);
  transition: all 0.6s cubic-bezier(0.3,1,0,1);
}
.post_083_control_button .carousel-control-prev{
  left: 100px;
  right: auto;
  margin: auto;
}
.post_083_control_button .carousel-control-next{
  left: auto;
  right: 100px;
  margin: auto;
 }
.post_083_control_button .carousel-control-prev:hover,
.post_083_control_button .carousel-control-next:hover{
  opacity: 1;
  color: #5969dc;
  background: transparent;
}
/*---------- HEADER ----------*/
.post_083_header{
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
  text-align: center;
  position: relative;
  margin: 0 auto 50px auto;
}
.post_083_header > h1{
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 350px;
  display: block;
  padding: 5px 0;
  color: #eeeeee;
  font-size: 35px;
  font-weight: 700;
  position: relative;
  text-transform: uppercase;
  margin: auto auto 20px auto;
}
.post_083_header > p{
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 700px;
  margin: auto;
  display: block;
  padding: 5px 0;
  color: #a5a5a5;
  font-size: 16px;
  font-weight: 400;
  position: relative;
}
/*---------- GRID ----------*/
.post_083_grid{
  padding: 10px;
}
/*---------- GRID FOR MOVING TWO ----------*/
.post_083_grid_mov_2{
  padding: 0;
}
.post_083_grid_mov_2 > .row{
  margin: 0;
}
.post_083_grid_mov_2 > .row > div{
  padding: 10px;
}
/*---------- WRAPPER ----------*/
.post_083_wrapper{
  overflow: hidden;
  position: relative;
  background: #f3f1f159;
}
/*---------- IMAGE ----------*/
.post_083_image{
  overflow: hidden;
  position: relative;
}
.post_083_image > a{
  right: 0;
  bottom: 0;
  width: 90px;
  height: 25px;
  color: #ffffff;
  font-size: 11px;
  line-height: 25px;
  text-align: center;
  position: absolute;
  letter-spacing: 1px;
  background: #5969dc;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition: all 0.7s cubic-bezier(0.3,1,0,1);
  transition: all 0.7s cubic-bezier(0.3,1,0,1);
}
.post_083_image > a:hover{
  color: #fff175;
  background: #262626;
}
.post_083_image > img{
  width: 100%;
}

/*---------- CONTENT ----------*/
.post_083_header > h1,
.post_083_header > p,
.post_083_content > a{
  text-shadow: none;
  font-family: 'PT Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
}
.post_083_image > a,
.post_083_content > p,
.post_083_content > h5 > a,
.post_083_control_button .carousel-control{
  text-shadow: none;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
}
.post_083_content{
  padding: 15px;
  text-align: left;
  position: relative;
}
.post_083_content:after{
  left: 0;
  top: 15px;
  width: 4px;
  content: "";
  height: 35px;
  position: absolute;
  background: #3d3d3d;
  -webkit-transition: background 0.7s cubic-bezier(0.3,1,0,1);
  transition: background 0.7s cubic-bezier(0.3,1,0,1);
}
.post_083_content > h5{
  text-align: left;
}
.post_083_content > h5 > a{
  color: #333;
  display: block;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 1px;
  text-decoration: none;
  margin-top: 20px;
  text-transform: uppercase;
  -webkit-transition: color 0.7s cubic-bezier(0.3,1,0,1);
  transition: color 0.7s cubic-bezier(0.3,1,0,1);
}
.post_083_content > h5 > a:hover{
  color: #5969dc;
}
.post_083_content > a{
  color: #333;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 1px;
  display: inline-block;
  text-decoration: none;
  text-transform: capitalize;
  -webkit-transition: color 0.7s cubic-bezier(0.3,1,0,1);
  transition: color 0.7s cubic-bezier(0.3,1,0,1);
}
.post_083_content > a:hover{
  color: #5969dc;
}
.post_083_content > p{
  color: #333;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 1px;
}
.post_083_content:hover:after{
  background: #5969dc;
}

/*------------------------------------------------------*/
/* RESPONSIVE
/*------------------------------------------------------*/
/*---------- MEDIA 480px ----------*/
@media only screen and (max-width: 480px){
  /*---------- INDICATORS CONTROL ----------*/
  .post_083_indicators > .carousel-indicators{
    display: none;
  }
  .post_083_header > h1{
    width: 250px;
    font-size: 25px;
  }
  .post_083_header > p{
    width: 250px;
    font-size: 12px;
  }
}
/*---------- MEDIA 481px - 768px ----------*/
@media (min-width: 481px) and (max-width: 768px){
  /*---------- INDICATORS CONTROL ----------*/
  .post_083_indicators > .carousel-indicators{
    top: 195px;
	width: 30%;
  }
  .post_083_control_button .carousel-control{
    top: 190px;
  }
  .post_083_header > p{
    width: 90%;
  }
}
/*---------- MEDIA 769px - 992px ----------*/
@media (min-width: 769px) and (max-width: 992px){
  /*---------- GRID FOR MOVING TWO ----------*/
  .post_083_grid_mov_2 > .row > div{
    padding: 1px;
  }
}

/*--------------------------------------------*/
/* SLIDING TIMING FUNCTIONS
/*--------------------------------------------*/
/*----- ps_ease -----*/
.ps_ease .carousel-item{
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
}
/*----- ps_easeInOut -----*/
.ps_easeInOut .carousel-item{
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
}
/*----- ps_speedy -----*/
.ps_speedy .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(0,1,0,1);
  transition-timing-function: cubic-bezier(0,1,0,1);
}
/*----- ps_slowSpeedy -----*/
.ps_slowSpeedy .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(0.3,1,0,1);
  transition-timing-function: cubic-bezier(0.3,1,0,1);
}
/*----- ps_easeOutInCubic -----*/
.ps_easeOutInCubic .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(0.22,0.81,0.01,0.99);
  transition-timing-function: cubic-bezier(0.22,0.81,0.01,0.99);
}
/*----- ps_swing -----*/
.ps_swing .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.02,.01,.47,1);
  transition-timing-function: cubic-bezier(.02,.01,.47,1);
}
/*----- ps_easeOutCubic -----*/
.ps_easeOutCubic .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.215,.61,.355,1);
  transition-timing-function: cubic-bezier(.215,.61,.355,1);
}
/*----- ps_easeInOutCubic -----*/
.ps_easeInOutCubic .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.645,.045,.355,1);
  transition-timing-function: cubic-bezier(.645,.045,.355,1);
}
/*----- ps_easeOutCirc -----*/
.ps_easeOutCirc .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.075,.82,.165,1);
  transition-timing-function: cubic-bezier(.075,.82,.165,1);
}
/*----- ps_easeOutExpo -----*/
.ps_easeOutExpo .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.19,1,.22,1);
  transition-timing-function: cubic-bezier(.19,1,.22,1);
}
/*----- ps_easeInQuad -----*/
.ps_easeInQuad .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.55,.085,.68,.53);
  transition-timing-function: cubic-bezier(.55,.085,.68,.53);
}
/*----- ps_easeOutQuad -----*/
.ps_easeOutQuad .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.25,.46,.45,.94);
  transition-timing-function: cubic-bezier(.25,.46,.45,.94);
}
/*----- ps_easeInOutQuad -----*/
.ps_easeInOutQuad .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.455,.03,.515,.955);
  transition-timing-function: cubic-bezier(.455,.03,.515,.955);
}
/*----- ps_easeOutQuart -----*/
.ps_easeOutQuart .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.165,.84,.44,1);
  transition-timing-function: cubic-bezier(.165,.84,.44,1);
}
/*----- ps_easeInOutQuart -----*/
.ps_easeInOutQuart .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.77,0,.175,1);
  transition-timing-function: cubic-bezier(.77,0,.175,1);
}
/*----- ps_easeOutQuint -----*/
.ps_easeOutQuint .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.23,1,.32,1);
  transition-timing-function: cubic-bezier(.23,1,.32,1);
}
/*----- ps_easeInSine -----*/
.ps_easeInSine .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.47,0,.745,.715);
  transition-timing-function: cubic-bezier(.47,0,.745,.715);
}
/*----- ps_easeOutSine -----*/
.ps_easeOutSine .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.39,.575,.565,1);
  transition-timing-function: cubic-bezier(.39,.575,.565,1);
}
/*----- ps_easeInOutSine -----*/
.ps_easeInOutSine .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.445,.05,.55,.95);
  transition-timing-function: cubic-bezier(.445,.05,.55,.95);
}