/*
	StyleSheet For Responsive Bootstrap Carousel 4
	Author: szthemes
	Item Name: Responsive Bootstrap Carousel 4
	Author URI: http://codecanyon.net/user/szthemes
	Description: Different Types of Bootstrap Carousel 4

  -----------------------------------------------------------------------------------
							Fonts Styles
  -----------------------------------------------------------------------------------
	  'Raleway', sans-serif ---------------------------------- 01
	            FontAwesome ---------------------------------- 02
  -----------------------------------------------------------------------------------
							Color Codes
  -----------------------------------------------------------------------------------
	NAME    ------------------------RGB-------------------------- #
	#ffffff -------------------rgb(255, 255, 255)---------------- 01
	#000000 -------------------rgb(0, 0, 0)---------------------- 02
	#215167 -------------------rgb(33, 81, 103)------------------ 03 	Replace Also This Color To Change Whole Color Scheme
	#132e3b -------------------rgb(19, 46, 59)------------------- 04 	Replace Also This Color To Change Whole Color Scheme
	#42a2ce -------------------rgb(66, 162, 206)----------------- 05 	Replace Also This Color To Change Whole Color Scheme
*/

/*------------------------------------------------------*/
/* RANGE SLIDES CAROUSEL
/*------------------------------------------------------*/
.range_slides_carousel_wrapper{
  overflow: hidden;
  padding: 50px;
  font-family: 'Raleway', sans-serif;
}
.range_slides_carousel_inner{
  border-radius: 5px;
}
.range_slides_carousel_wrapper .carousel-item > .row{
  margin: 0;
}
/*---------- CONTROL INDICATORS ----------*/
.range_slides_carousel_indicators{
  bottom: 0;
  padding: 0;
  display: block;
  padding-top: 3px;
  text-align: center;
  padding-bottom: 2px;
}
.range_slides_carousel_indicators li{
  width: 10px;
  margin: 1px;
  height: 10px;
  display: inline-block;
  background: transparent;
}
.range_slides_carousel_indicators .active{
  width: 10px;
  margin: 1px;
  height: 10px;
  border: none;
}
/*---------- LEFT/RIGHT CONTROL ----------*/
.range_slides_carousel_control_left,
.range_slides_carousel_control_right{
  top: 32%;
  z-index: 2;
  opacity: 0;
  width: 55px;
  height: 55px;
  border: none;
  text-align: center;
  -webkit-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
}
.range_slides_carousel_wrapper:hover .range_slides_carousel_control_left,
.range_slides_carousel_wrapper:hover .range_slides_carousel_control_right{
  opacity: 1;
}
.range_slides_carousel_control_icons{
  opacity: 0.8;
  line-height: 55px;
  font-size: 35px !important;
  color: #fff;
  font-weight: normal !important;
}
.range_slides_carousel_control_left{
  left: 1% !important;
}
.range_slides_carousel_control_right{
  right: 1% !important;
}
.range_adv_left{
  left: 3% !important;
}
.range_adv_right{
  right: 3% !important;
}
/*---------- SLIDES IMAGES ----------*/
.range_slides_item_image{
  padding: 0px;
}
.range_slides_item_image img{
  width: 100%;
}

/*------------------------------------------------------*/
/* RESPONSIVE
/*------------------------------------------------------*/

/*----------  MEDIA 600px  ----------*/
@media only screen and (max-width: 600px){
  .range_slides_carousel_wrapper{
    padding: 10px;
  }
  /*---------- CONTROL INDICATORS ----------*/
  .range_slides_carousel_indicators{
    display: none;
  }
  /*---------- LEFT/RIGHT CONTROL ----------*/
  .range_slides_carousel_control_left,
  .range_slides_carousel_control_right{
    width: 25px;
    height: 25px;
  }
  .range_slides_carousel_control_icons{
    line-height: 20px;
    font-size: 16px !important;
  }
}

/*------------------------------------------------------*/
/* COLORS (BLUE)
/*------------------------------------------------------*/

.range_slides_carousel_wrapper{
  background: #333333;
}
/*---------- CONTROL INDICATORS ----------*/
.range_slides_carousel_indicators li{
  background: #215167;
}
.range_slides_carousel_indicators .active{
  background: #132e3b;
}

/*----------  MEDIA 767px  ----------*/
@media only screen and (max-width: 767px){
  
}
/*---------- LEFT/RIGHT CONTROL ----------*/
.range_slides_carousel_control_left,
.range_slides_carousel_control_left:hover,
.range_slides_carousel_control_left:active,
.range_slides_carousel_control_left:focus,
.range_slides_carousel_control_right,
.range_slides_carousel_control_right:hover,
.range_slides_carousel_control_right:active,
.range_slides_carousel_control_right:focus{
  background: transparent !important;
}
@media only screen and (max-width: 600px){
  /*---------- SLIDES IMAGES ----------*/
}
/*------------------------------------------------------*/
/* SLIDING TIMING FUNCTIONS
/*------------------------------------------------------*/
/*---------- ps_ease ----------*/
.ps_ease .carousel-item{
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
}
/*---------- ps_easeInOut ----------*/
.ps_easeInOut .carousel-item{
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
}
/*---------- ps_speedy ----------*/
.ps_speedy .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(0,1,0,1);
  transition-timing-function: cubic-bezier(0,1,0,1);
}
/*---------- ps_slowSpeedy ----------*/
.ps_slowSpeedy .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(0.3,1,0,1);
  transition-timing-function: cubic-bezier(0.3,1,0,1);
}
/*---------- ps_easeOutInCubic ----------*/
.ps_easeOutInCubic .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(0.22,0.81,0.01,0.99);
  transition-timing-function: cubic-bezier(0.22,0.81,0.01,0.99);
}
/*---------- ps_swing ----------*/
.ps_swing .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.02,.01,.47,1);
  transition-timing-function: cubic-bezier(.02,.01,.47,1);
}
/*---------- ps_easeOutCubic ----------*/
.ps_easeOutCubic .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.215,.61,.355,1);
  transition-timing-function: cubic-bezier(.215,.61,.355,1);
}
/*---------- ps_easeInOutCubic ----------*/
.ps_easeInOutCubic .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.645,.045,.355,1);
  transition-timing-function: cubic-bezier(.645,.045,.355,1);
}
/*---------- ps_easeOutCirc ----------*/
.ps_easeOutCirc .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.075,.82,.165,1);
  transition-timing-function: cubic-bezier(.075,.82,.165,1);
}
/*---------- ps_easeOutExpo ----------*/
.ps_easeOutExpo .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.19,1,.22,1);
  transition-timing-function: cubic-bezier(.19,1,.22,1);
}
/*---------- ps_easeInQuad ----------*/
.ps_easeInQuad .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.55,.085,.68,.53);
  transition-timing-function: cubic-bezier(.55,.085,.68,.53);
}
/*---------- ps_easeOutQuad ----------*/
.ps_easeOutQuad .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.25,.46,.45,.94);
  transition-timing-function: cubic-bezier(.25,.46,.45,.94);
}
/*---------- ps_easeInOutQuad ----------*/
.ps_easeInOutQuad .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.455,.03,.515,.955);
  transition-timing-function: cubic-bezier(.455,.03,.515,.955);
}
/*---------- ps_easeOutQuart ----------*/
.ps_easeOutQuart .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.165,.84,.44,1);
  transition-timing-function: cubic-bezier(.165,.84,.44,1);
}
/*---------- ps_easeInOutQuart ----------*/
.ps_easeInOutQuart .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.77,0,.175,1);
  transition-timing-function: cubic-bezier(.77,0,.175,1);
}
/*---------- ps_easeOutQuint ----------*/
.ps_easeOutQuint .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.23,1,.32,1);
  transition-timing-function: cubic-bezier(.23,1,.32,1);
}
/*---------- ps_easeInSine ----------*/
.ps_easeInSine .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.47,0,.745,.715);
  transition-timing-function: cubic-bezier(.47,0,.745,.715);
}
/*---------- ps_easeOutSine ----------*/
.ps_easeOutSine .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.39,.575,.565,1);
  transition-timing-function: cubic-bezier(.39,.575,.565,1);
}
/*---------- ps_easeInOutSine ----------*/
.ps_easeInOutSine .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.445,.05,.55,.95);
  transition-timing-function: cubic-bezier(.445,.05,.55,.95);
}
/*---------- END ----------*/